<h1>About</h1>
<p>Some interesting things about Skanderbeg and Ether The Great</p>
<p>Skanderbeg is from Albania <img src=https://media1.britannica.com/eb-media/00/6200-004-7E0FBB4D.gif><img></p>

<p>Click <a href=https://skanderbeg-etherthegreat.c9users.io/pages/home style=color:blue>Here</a> to go to Homepage</p>