<h1>Contact Page</h1>
<p>Call us at 555-7383</p>
<p>Click <a href=https://skanderbeg-etherthegreat.c9users.io/pages/home style=color:blue>Here</a> to go to Homepage.</p>\
<img src=http://lh4.ggpht.com/PRhbycJPqnjOp13H6j1onJLXOQZSUg7__KJatKrty7e_Dks1b-eVEzTOoTcJetYI9IbERJ9ft0LLS0LLt68Fb1DZ=s150></img>