<h1><center>Homepage</center></h1>
<p>Who are <strong>Skanderbeg</strong> and <strong>Ether the Great</strong>?</p>
<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Gjergj_Kastrioti.jpg/220px-Gjergj_Kastrioti.jpg></img>
<p>Skanderbeg and Ether The Great: Are they the same person? Find out here!</p>
<img src=https://pbs.twimg.com/profile_images/700163842454605824/4HtXz7UZ_400x400.jpg></img>
<center>
<p>Click <a href=https://skanderbeg-etherthegreat.c9users.io/blogs style=color:blue>Here</a> to go to blogs.</p>
<p>Click <a href=https://skanderbeg-etherthegreat.c9users.io/pages/contact style=color:blue>Here</a> to contact us.</p>
<p>Click <a href=https://skanderbeg-etherthegreat.c9users.io/pages/about style=color:blue>Here</a> To go to About.</p>
</center>

<h1 style=color:Blue>Blog Posts</h1>
<%=@posts.inspect%>

<h1 style=color:green>Skills</h1>
<%= @skills.inspect%>